<style>
    #scheme-Paradox #post_entry-left-info{
        padding: 5px;
        line-height: 40px;
        height: auto;
        width: auto;
    }
    #post_entry-left-info a{
        margin-right: 10px;
        padding: 5px 10px 5px 10px;
        color: white;
        border-radius: 2px;
        text-decoration:none;
    }
    #post_entry-left-info a:hover{
       cursor: pointer;
       box-shadow: 0 4px 8px rgba(0,0,0,0.26);
    }
</style>
<div class="post_entry-module mdl-card <% if(theme.card_elevation) { %><%= 'mdl-shadow--' + theme.card_elevation + 'dp' %><% } %> mdl-cell mdl-cell--12-col fade out">
    <!-- Post Thumbnail -->
    <% if(!post.thumbnail) { %>
        <% if(!theme.thumbnail.purecolor) { %>
            <!-- Random Thumbnail -->
            <div class="post_thumbnail-random mdl-card__media mdl-color-text--grey-30">
        <% } else { %>
            <!-- Pure Thumbnail -->
            <div class="post-thumbnail-pure mdl-card__media mdl-color-text--grey-50" style="background-color:<%= theme.thumbnail.purecolor %> !important">
        <% } %>
    <% } else { %>
        <!-- Custom Thumbnail -->
        <div class="post_thumbnail-custom mdl-card__media mdl-color-text--grey-50 lazy" data-original="<%= post.thumbnail %>">
    <% } %>

        <!-- Post Title -->
        <p class="article-headline-p"><a href="<%= url_for(post.path) %>"><% if(pin) { %><span>[Top]</span><% } %><%= post.title %></a></p>
    </div>

    <!-- Post Excerpt -->
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text post_entry-content">
        <%if(post.excerpt) {%>
            <%- strip_html(post.excerpt) %>
        <%}else{%>
            <%- strip_html(truncate(post.content,{length: theme.reading.entry_excerpt })) %>
        <%}%>
        &nbsp;&nbsp;&nbsp;
        <span>
            <a href="<%= url_for(post.path) %>" target="_self"><%= __('post.continue') %></a>
        </span>
    </div>
    <!-- Post_entry Info-->
    <div id="post_entry-info">
        <div id="post_entry-left-info" class="mdl-card__supporting-text mdl-color-text--grey-600 ">
            <!-- tags -->
            <%  post.tags.data.forEach( tag => {%>
                <a href="/tags/<%=tag.name%>" class="tag"><%=tag.name%></a>
            <%})%>
        </div>
    </div>
</div>
            <script>
                $(function(){
                    let tags = $(".tag");
                    for(let i = 0; i < tags.length ;i++){
                        let r = Math.floor(Math.random()*255);
                        let g = Math.floor(Math.random()*255);
                        let b = Math.floor(Math.random()*255);
                        let a = Math.random();
                        $(tags[i]).css('background-color','rgb'+'('+r+','+g+','+b+')');
                    }
                })
            </script>